.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100svw;
    height: 100svh;

}

.post {
  border: 2px solid white;
  margin: 1em;
  padding: 1em;
  width: 80%;
}
